---
layout: default
---

<p>I've yet to decide on the layout for the front. That will depend partly on the pictures you upload to Flickr and a little further discussion.</p>

<div class="posts">
  {% for post in site.posts %}
    <article>
      <h2>
        {% if post.link %}
          <a class="post-link outgoing" href="{{ post.link }}">{{ post.title }} &#10141;</a>
        {% else %}
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        {% endif %}
      </h2>
      <div class="post-content">
        {{ post.content }}
      </div>
    </article>
  {% endfor %}
</div>