<!DOCTYPE html>
<html class="no-js">

  {% include head.html %}

  <body>
  
    {% include header.html %}

    <div class="page-content">
      {{ content }}
    </div>

    {% include footer.html %}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <script>window.jQuery || document.write('<script src="{{ "/js/jquery.min.js" | prepend: site.baseurl }}"><\/script>')</script>

    <script src="{{ "/js/foot.js" | prepend: site.baseurl }}"></script>

    <script>
      $(document).ready(function(){
        
        {% if page.title != "Headshots" %}
          $('.page-content').respondr();
        {% else %}
          $('.page-content').respondr('(min-width: 1000px) 500px');
        {% endif %}

        $('.page-content').fitVids();

      });
    </script>

  </body>

</html>
